@charset 'utf-8';

/* common */

.import {
  align-items: center;
  background-color: #efefef;
  color: rgba(255, 0, 0, 0.7);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  line-height: 1.5;
}

/* modules */

figure {
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.test {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
}

.test_inner {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 10px 0 0;
}

.test_inner img {
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.test_box {
  display: flex;
}

@media screen and (max-width: 767px) {
  .import {
    font-size: 4.266666666666667vw;
  }

  figure img {
    width: 100%;
  }

  .test_inner {
    display: block;
  }

  .test_box {
    display: block;
  }
}
