@define-mixin test, $bgcolor: #fff {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgcolor;
}

@define-mixin mqsp {
  @media screen and (max-width: $break-point) {
    @mixin-content;
  }
}
