@charset 'utf-8';

/* common */
@import-glob './_common/*';

/* modules */
figure {
  display: flex;
  justify-content: center;
  background-color: #efefef;

  img {
    @mixin mqsp {
      width: 100%;
    }
  }
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  &_inner {
    display: flex;
    flex-direction: column;
    @mixin mqsp {
      display: block;
    }

    img {
      object-fit: cover;
      pointer-events: none;
    }
  }
  &_box {
    display: flex;
    @mixin mqsp {
      display: block;
    }
  }
}
